* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
}

.bg-greyy {
    background-color: #F9FAFA;
}

.head-text {
    font-size: 70px;
    font-weight: 600;
    color: black;
    line-height: 75px;
}

.head-p {
    width: 75%;
}

.ac-color {
    color: #acacac;
}

.p-head {
    font-size: 20px;
    font-weight: 600;
}

.w-60 {
    width: 60%;
}

.text-underline {
    text-decoration: underline;
    text-decoration-color: #acacac;
    /* Set the color of the underline */
    text-underline-offset: 15px;
    /* Adjust the space between text and underline */
    text-decoration-thickness: 1px;
    /* Optional: Adjust underline thickness */
}

.uses img {
    width: 220px;
    height: 220px;
    border-radius: 13px;
}

.use-details {
    color: #2563EB;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 500;
}

.aa {
    color: initial;
}

.bod-bot {
    border-bottom: 1px solid #acacac;
}

.bod-left {
    border-left: 1px solid #edefef;
}

.amb,
.ast,
.bond,
.hbr,
.usdc {
    background-color: #f2f2f2;
    cursor: pointer;
    border-radius: 15px;
}

.coin-header {
    color: #2F80ED;
    font-size: 20px;
    font-weight: 600;
}

.coin-details {
    color: #A7A5A5;
    font-weight: 400;
    font-size: 13px;
}

.pay-button {
    background-color: #011B3E;
    border-radius: 5px;
    color: white;
}

.cursor-pointer {
    cursor: pointer;
}

.airpay-info {
    color: #acacac;
    font-size: 15px;
}

.product-img img {
    width: 70px;
    border-radius: 5px;
}

.p-o {
    font-weight: 500;
    font-size: 16px;
}

.p-p {
    font-weight: 500;
}

.ms-150 {
    margin-left: 150px;
}

.suc-payment {
    border-radius: 25px;
    padding: 15px 80px;
    background-color: #011B3E;
}

.p-foot {
    font-size: 10px;
}

.i-width {
    width: 60px;
}

.bg-order {
    background-color: #F3F3F3;
}

.form-clip,
.form-text-hint {
    position: absolute;
    left: 200px;
    top: 172px;
    height: calc(2.125rem - 2px);
    display: flex;
    align-items: center;
    color: #121212;
    padding-left: 1rem;
    padding-right: 0.75rem;
    border-radius: 4px;
    color: #029341;
    font-size: 24px;
    font-weight: 600;
}

#coinName {
    position: absolute;
    left: 23px;
    top: 20px;
    color: #A7A5A5;
    font-size: 10px;
    font-weight: 400;
    width: 50px;
}

.ps-90 {
    padding-left: 350px;
    background-color: #F3F9E4;
    color: #029341;
    font-weight: 600;
    font-size: 30px;
}

.ps-90:focus {
    background-color: #F3F9E4;
    box-shadow: none !important;
}

.community {
    border: 1px solid #A7A5A5;
    border-radius: 20px;
}

.com-text {
    background-color: #F3F9E4;
    border-radius: 20px 20px 0px 0px;
}

.pro {
    height: 60px;
    border-radius: 50px;
}

.tooltip-text, .tooltip-text2 {
    visibility: hidden;
    background-color: #011B3E;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 62%;
    left: 76%;
    transform: translateX(-50%);
    opacity: 0;
    font-size: 10px;
    transition: opacity 0.3s ease;
}

.copy-icon:hover+.tooltip-text, .copy-icon2:hover+.tooltip-text2{
    visibility: visible;
    opacity: 1;
    content: "Copy to Clipboard";
}

.tooltip-text.copied, .tooltip-text2.copied {
    visibility: visible;
    opacity: 1;
}

/* Fullscreen loader styling */
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
    /* Above all other content */
}

#content {
    display: none;
    /* Hide main content initially */
}

.spinner-border {
    width: 5em;
    height: 5em;
}

/* eCommerce */
.card-number{
    border: 1.5px solid #acacac;
    border-radius: 5px;
    padding: 12px 16px;
}
.bg-ac{
    background-color: #acacac;
}


/* =============================== */
.con-bot{
    color: #2F80ED;
    border: 1px solid #2F80ED;
    border-radius: 12px;
    padding: 12px 30px;
}
.yn{
    color: #084596;
    background-color: #C9E0FF;
    padding: 2px 5px;
    border-radius: 5px;
}
.getName{
    color: white;
    text-transform: capitalize;
    background-color: #011B3E;
    padding: 12px 20px;
    border-radius: 10px;
}
.conta{
    padding: 60px 90px;
    height: 100vh;
}
.signup-carousel{
    margin-top: 100px;
}
.s-caro {
    padding: 0px 20px 10px 0px;
  }
  .s-caro-img img {
    width: 170px !important;
  }
  .s-caro > h3 {
    text-align: start;
    font-size: 25px;
    font-weight: 700;
  }
  .s-caro > p {
    color: #000;
    font-size: 15px;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 0px !important;
  }
  .signup-carousel .owl-nav {
    display: none !important;
  }
  .signup-carousel .owl-dots {
    display: block !important;
    margin-bottom: 20px;
  }
  .owl-theme .owl-dots .owl-dot span {
    width: 10px !important;
    height: 10px !important;
  }
  .owl-theme .owl-dots .owl-dot.active span {
    background: #2F80ED !important;
  }
  .owl-theme .owl-dots, .owl-theme .owl-nav {
    text-align: left;
    -webkit-tap-highlight-color: transparent;
}
.bg-d9{
    background-color: #F5F9FF;
}
.search-box > img {
    position: absolute;
    right: 35rem;
    top: 22.8em;
    margin: 10px 15px;
}
.search-input {
    border-radius: 30px;
    border: 1px solid #002E6C;
    padding: 20px 65px;
    background-color: transparent;
    width: 100%;
    font-size: 14px;
}
.mt-100{
    margin-top: 150px;
}
.available-name{
    background-color: #A0FEC9;
    padding: 12px 25px;
    border-radius: 10px;
    border: 1px solid #02934120;
    width: 100%;
}
.available-name > a{
    background-color: #029341;
    padding: 5px 8px;
    border-radius: 8px;
}
.text-green{
    color: #066E33;
}
.fs-7{
    font-size: 14px;
}
[type=search] {
    -webkit-appearance: textfield;
    outline-offset: 0px;
}
.unavailable-name{
    background-color: #FF9CAB;
    padding: 12px 25px;
    border-radius: 10px;
    border: 1px solid #02934120;
    width: 100%;
}
.text-red{
    color: #8E071B;
}
.year-container {
    position: relative;
    width: 100%;
    height: 80px;
    border: 1px solid #ACACAC;
    border-radius: 50px;
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 500;
    color: #011B3E;
  }

  .btn-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    font-size: 27px;
    font-weight: bold;
    cursor: pointer;
  }

  .btn-minus {
    left: 30px;
    background-color: #CCC9C9;
    color: #fff;
  }

  .btn-minus.disabled {
    background-color: #CCC9C9;
    color: #fff;
    cursor: not-allowed;
  }

  .btn-plus {
    right: 30px;
    background-color: #011B3E;
    color: white;
  }

  .btn-plus:hover {
    background-color: #011b3e97;
  }
  .year-details{
    color: #acacac;
  }
  .total-calc{
    border: 1px solid #6CABFF;
    padding: 30px 40px;
    border-radius: 20px;
    margin-top: 40px;
    background-color: #EFF6FF;
  }
  .p-year{
    color: #6E6F71;
  }
  .pay{
    border-radius: 70px;
    background-color: #011B3E;
    padding: 20px ;
  }
  .fs-8{
    font-size: 12px;
  }
  .cursor-pointer{
    cursor: pointer;
  }
  .grimmers{
    background-color: #63FFA6;
    color: #024A21;
    padding: 10px 15px;
    border-radius: 30px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.154);
    top: 9em;
    rotate: -7deg;
  }
  #kobby{
    background-color: #F6D6AF;
    color: #865C00;
    top: 11em;
    left: 29em;
    rotate: 15deg;
  }
  #john{
    background-color: #FEBCD2;
    color: #90113B;
    top: 15em;
    left: 36em;
    rotate: -5deg;
  }
  #nothing{
    background-color: #A0C8FE;
    color: #1646B2;
    top: 21em;
    left: 40em;
    rotate: -5deg;
  }
  .text-black2{
    color: #292D32;
  }
  .px-6{
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .spinner-overlay {
    z-index: 1055; /* Higher than modal backdrop */
}
/* In your style.css or <style> tag */
.simp{
    position: absolute;
    right: 7.5em;
    top: 23.2em;
    width: 2em;
    height: 2em;
}
.qrr{
    width: 40%;
    border: 2px solid #2563EB;
    border-radius: 25px;
}
#txHash{
    font-weight: 500;
    font-size: 12px;
}
#availableName,
#unAvailableName {
    display: none;
}
.sm-dis{
    display: flex;
}